<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">

<title>Insert title here</title>
<link rel="stylesheet" href="../style/css/bootstrap.min.css">
<script type="text/javascript" src="../scripts/jquery-3.4.0.min.js.js"></script>
<script type="text/javascript" src="../style/js/bootstrap.min.js"></script>
</head>
<body>
	
	<br>
	<button class="btn btn-success" id="idBtnCreateNew">Create new</button>
	<br>
	
	<!-- tempat untuk jahit table -->
	<div id="idDivTableBarang">
	</div>
	
	 <!-- sebelom script -->
  <div id="idmodal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        
        <div id="idmdlBody" class="modal-body">
          <!-- akan ada injeksi di body ini -->
        </div>
        
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <!-- paling bawah tempat manipulasi script  -->
  <!-- ctrl + kc = komen. ctrl + ku = un komn -->
<!-- shift alt F -->
	
	<script type="text/javascript">
		$(document).ready(function() {

			
			$.ajax({
				url:'./listbarang',
				method:'Get',
				success:function(model){
				
					$('#idDivTableBarang').html(model);
				},
			error:function(model){
				debugger;
			}
			});
			
			$('#idBtnCreateNew').click(function () {
	             alert("tombol ditekan");
	             
	             $.ajax({
	 				url:'./newbarang',
	 				method:'Get',
	 				success:function(model){
	 					//debugger;
	 					$('#idmodal').modal('show');
	 					$('#idmdlBody').html(model);
	 				
	 				},
	 			error:function(model){
	 				debugger;
	 			}
	 			});
	             
	        });
			 
		});
	</script>
</body>
</html>