<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>List barang</title>
</head>
<body>
	
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<td>No</td>
					<td>Nama Barang</td>
					<td>Jenis Barang</td>
					<td>Kota</td>
					<td>Harga Barang</td>
					<td>Jumlah Barang</td>
					<td>Total</td>
					<td>Action</td>

				</tr>
			</thead>
			<tbody id="idTbodyBarang">
				<tr th:each="item : ${keybarang}">
					<td th:text ="${item.id}">ID</td>
					<td th:text ="${item.nama_barang}">Nama Barang</td>
					<td th:text ="${item.jenis_barang}">jenis Barang</td>
					<td th:text ="${item.kota_pembuat}">Kota</td>
					<td th:text ="${item.harga_barang}">Harga Barang</td>
					<td th:text ="${item.jumlah_barang}">Jumlah Barang</td>
					<td th:text ="${item.jumlah_barang * item.harga_barang}">total</td>
					
					<td> 
					<button class="btn btn-primary" ><span class="glyphicon glyphicon-search"></span> search</button> 
						<button class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span> edit</button>
						<button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> hapus</button>	
					</td>
				
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>